.assignments-item{
    padding: 15px 20px;
    box-shadow: 1px 1px 10px rgb(199, 196, 196);
    border-radius: 10px;
    margin: 10px 0px;
}
.assignments-item button{
    border-radius: 6px;
    font-size: 15px;
}