.question{
    box-shadow: 1px 1px 10px rgb(231, 230, 230);
    padding: 40px;
    width: 900px;
    border-radius: 10px;
}
.marks-input input[type=number]::-webkit-inner-spin-button, 
.marks-input input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
.marks-input{
    background-color: #6D3389;
    width: 230px;
    height: 50px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.marks-input input{
    width: 80px;
    height: 40px;
    font-size: 30px;
    background-color: #6D3389;
    border: none;
    outline: none;
    color: white;
    margin-left: 20px;
}
.marks-input input:focus{
    border: none;
    outline: none;
}
.select-answer-type{
    border: 2px solid purple;
    padding: 10px 0px;
    border-radius: 10px;
}
.select-answer-type a:hover{
    text-decoration: none;
}